#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, rgb(58, 143, 227), rgb(9, 27, 54));
    font-family: 'Poppins', sans-serif;
    padding-top: 20px;
  }

body {
    margin: 0;
}